@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: Montserrat;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: white;
}

header .left {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

header .right {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
}

button {
    transition: 0.2s;
    margin: 1.5vh;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

.left :not(.active):hover {
    background-color: #dfdfdf;
}

.left .active {
    background-color: #dfdfdf;
}

.grid {
    height: 92vh;
    width: 100vw;
}

.tooltip span {
    text-align: left;
}

#cost {
    opacity: 0;
    transition: 0.2s;
    background-color: lightgrey;
    color: black;
}


/* #weight:hover+#cost {
    opacity: 0.5;
} */

#weight.active+#cost {
    opacity: 0.5;
}

#weight.active {
    background-color: purple;
    color: white;
}

#weight:hover {
    background-color: purple;
    color: white;
}